*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

header {
    background-color: rgb(179, 17, 17);
    overflow: hidden;
}

#logo {
    float: left;
}

nav ul {
    list-style:none;
    float: right;
    padding: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

nav li{
    display: inline-block;
}

header a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

.container {
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.container ul p{
    margin: 20px;
    padding: 20px;
    font-size: 12px;
}

.container img{
    width: 300px;
    position: relative;
}

.container ul li {
    width: 300px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    overflow: hidden;
}

footer {
    text-align: center;
}

.social {
    padding: 20px;
}

.social li {
    display:inline-block;
}

.social img{
    width: 50px;
}


