@font-face {
font-family: 'montserratsemibold';
src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'montserratbold';
src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'montserratlight';
src: url('../fonts/montserrat-light-webfont.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'montserratmedium';
src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

.font-m-bold{
    font-family: 'montserratbold', Verdana, sans-serif;
}

.font-m-semi{
    font-family: 'montserratsemibold', Verdana, sans-serif;
}

.font-m-med{
    font-family: 'montserratmedium', Verdana, sans-serif;
}

.font-m-light{
    font-family: 'montserratlight', Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.anchor {
    display: block;
    height: 50px;
    margin-top: -50px;
    visibility: hidden;
}

/* ======= NAV BAR ======= */

.nav-tr{
    position: absolute;
    top: -1px;
    background-color: rgb(17, 17, 17, 1);
    z-index: 3;
}

.sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(15, 14, 22);
    box-shadow: 0 5px 10px black;
    z-index: 9;
}

#info p{
    background-color: rgb(15, 14, 22);
}

.logo{
    font-family: 'montserratbold', Verdana, sans-serif;
    font-size: 24px;
    color: #F69322;
}

.nav-item, .nav-link{
    transition: 0.3s;
}

.nav-item:hover, .nav-link:hover{
    margin-bottom: -2px;
    border-bottom: 2px solid #F69322;
}

.nav-custom{
    display: inline-block;
    font-family: 'montserratlight', Verdana, sans-serif;
    color: white;
}

.nav-custom:hover{
    display: inline-block;
    font-family: 'montserratsemibold', Verdana, sans-serif;
    color: #25A8E0;
}

/* ======= CARA KERJA ======= */

#carakerja, #testimoni{
    background-color: #25A8E0;
    padding: 40px 0;
}

#carakerja h2, #testimoni h2{
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.card-ck, .daftar-card{
    min-height: 200px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.card-ck img{
    max-height: 150px;
}

.card-ck h5{
    font-size: 17px;
}

/* ======== PORTOFOLIO ======== */

.portfolio-cap img{
    max-height: 300px;
}

.daftar-absolute{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.daftar-gambar{
    background-image: url('../img/slider/print-3.jpg');
    background-size: cover;
    height: 400px;
    position: relative;
    z-index: 0;
}

/* ======= FOOTER ======== */

#footer{
    padding: 50px 0;
}

.col-lg-3{
    text-align: center;
}

.copyright{
    margin: 0;
    padding-top: 7px;
    color: white;
    background-color: rgb(15, 14, 22);
}

/* ============ LOGIN =========== */

.login-bg{
    z-index: 10;
}

.text-login{
    color: #25A8E0;
}

.modal-header h5{
    margin-left: auto;
    font-size: 30px;
}

.bg-daftar{
    background-image: url('../img/stuff/doodle.jpg');
    background-repeat: repeat;
    background-size: 200px 200px;
}

.bg-form-daftar{
    border-top: 2px solid #F69322;
}

@media (min-width: 768px) { 
    .nav-tr{
        position: absolute;
        background-color: rgb(17, 17, 17, 0);
        z-index: 2;
    }

    .col-lg-3{
        text-align: left;
    }
}