html, body {
    margin: 0;
    padding: 0;

}

.header{
    font-family: 'Times New Roman', Times, serif;
    background-color: aquamarine;
    text-align: center;
    margin-top: 4px;
    padding: 0;
    overflow: hidden;
}

.navigasi {
    background-color: rgb(27, 155, 116);
    margin: 0;  
}

.navigasi ul li {
    display: inline-block;
    padding: 20px;   
}

.navigasi ul {
    text-align: center; 
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigasi a {
    text-decoration: none;
    color: white;
}

.image {
    text-align: center; 
    margin-top: 5px;
}

