*{
    color: deeppink;
}

h1{
    color: yellow;
}

h1 p{
    color: rgb(17, 0, 255);
}

.heading{
    color: chartreuse;
}


.paragraf{
    color:darkblue;
}


.heading .paragraf{
    color:darkgreen;
}

/*
.heading.unique{
    color:darkred;
}*/


.unique{
    color:  darkcyan;
}