*{
    margin: 0;
    padding: 0;
}


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

header {
    background-color: rgb(223, 18, 18);
    overflow: hidden;
    border-bottom: 5px solid rgb(141, 14, 14);
}


#logo {
    float:left;
}

nav ul {
    list-style:none;
    float: right;
    padding: 15px;
    margin-right: 10px;
    margin-top: 20px;
    font-size:20px;
}

nav li{
    display:inline-block;
}

header h1,h4{
    margin-left: 30px;
}

header a{
    text-decoration: none;
    color: white;
    padding: 20px;  
}

#container {
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

#container ul p{
    margin: 20px;
    padding: 20px;
    font-size: 12px;
}

#container img{
    width: 300px;
    position: relative;
}

#container ul li {
    width: 300px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    overflow: hidden;
}

/*.contact>section>ul>li{
    padding: 20px 0 0 0;
    display: inline-block;
}*/
/*.contact section{
    width: 80%;
    margin: 0 auto;
    height: auto;
    color:grey;
    border: 3px solid red;
}*/

/*.contact>section>ul>li>img{
    float: left;
    margin: 1rem;
    max-width: 2rem;
    height: auto;
    padding: 2px;
    border-right: 3rem;
    
}*/
/*.countainer-about{
    margin: 0;
    padding: 0;
    display: flex;
    color:grey; 
}
#about{
    list-style: none;
}
.focus{
    margin: 90px 30px;  
    width: 1000px; 
    margin-left: 90px ;
    border-left:grey;
}
.about{
    margin: 30px 10px; 
    width: 300px; 
    
}*/
.container-contact img{
    width:100px;
}

.container-contact {
    margin: 0;
    padding: 0;
    display: flex;
    color:grey;
}

#contact {
    list-style: none;
}

.content{
    margin: 90px 30px;  
    width: 1000px; 
    margin-left: 90px ;
}

.contact{
    margin: 90px 30px; 
    width: 600px; 
    border-left:2px solid darkgray;
}

h2, img,h3 {
    margin-left: 15px;
}

img{
    float: left;

}


h3{
    font-size: 14px;
}

.icon ul li{
    list-style: none;
}

.contact img{
    width: 20px;
    padding-top: 10px;
}


footer {
    text-align: center;
    bottom: 0%;
    width: 100%;
    padding: 4px 0 10px 0;
    position: absolute;
}

.social {
    padding: 20px;
}

.social li {
    display:inline-block;
}

.social img{
    width: 50px;
}

.container-about{
    overflow: hidden;
    display: flex;
    padding: 90px 40px;
}

.about  {
    margin-left: 130px;
    

}

.about ul li {
    list-style: none;
}

.deskripsi{
    width: 700px;
    border-left: 2px solid darkgray;
    margin-left: 40px;
    color: darkgray;
    padding-top: 20px;
}

h2,h3{
    margin-left: 30px;
}

h3{
    margin-top: 10px;
}

img{
    width: 140px;
}