h1 {
    background-color: aqua;
}

header {
    background-color: black;
    height: 50px;
    width: 1350px;
    float: right;
}

nav {
    background-color: blue;
    height: 50px;
    width: 1350px;
    float: right;
}

section {
    background-color: red;
    background-size:
        width: 800px;
    height: 500px;
    float: left;
}

aside {
    background-color: rebeccapurple;
    height: 500px;
    width: 300px;
    float: right;
}

.cb {
    background-color: yellow;
    float: bottom;
    height: 5000px;
    width: 5000px;
}

* {
    color: blue;
    background: silver;
}

*[aduh="aa"] {
    color: red;
}

.iniadalahkelas {
    background-color: yellow;
    color: blanchedalmond;
}

#cobapakEkiD {
    background-color: red;
    padding: 200px;
}

p.h2 {
    color: red;
}