@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
body{
    font-family:  'Slabo 27px', serif ;
}
header{
    background-color: blueviolet;
}
a{
    /* text decoration adalah menghilangkan underline*/
    text-decoration: none;
}
#logo{
    float: clear; 
}
#container{
    float: left;

}

h1, h2{
    color: white;
}
nav a{
    color: white;
}
nav ul{
    list-style: none;
    /* float adalah mengambang (gak jelas anjir)
        berpasangan dengan clear untuk menetlalisir efek float
    */
}
nav li{
    /* display untuk ...
        inline untuk meluruskan secara horizontal elmen sebelumnya
        inline-block sejajar tapi dalam bentuk box
    */
    display: inline-block;
}   