h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: magenta;
    font-style: inherit;
    font-variant: small-caps;
    background-color: aqua;
}
body{
    background-image: url(dark-grey-terrazzo.png);
}

/*
p{
    color : green;
}
*/
/*
div p{
    color : black;
}
*/
/*
#aku {
    color : red;
}
*/
/*
div.p {
    color = blue;
}
*/


